<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456288333913-drqcsfqk0soj0hlj2rdn5libk4qcrg9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456288333913-drqcsfqk0soj0hlj2rdn5libk4qcrg9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456288333913-aoc7lqkpsg6k3d3t8837hmkh61515u57.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEXqRwF7QIUaoli7IDYWWsTLvq4qJx4yM</string>
	<key>GCM_SENDER_ID</key>
	<string>456288333913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazilityfb.i2i.fazilityfb</string>
	<key>PROJECT_ID</key>
	<string>i2i-softwares</string>
	<key>STORAGE_BUCKET</key>
	<string>i2i-softwares.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456288333913:ios:f8f6e4a5743006b8d24148</string>
	<key>DATABASE_URL</key>
	<string>https://i2i-softwares.firebaseio.com</string>
</dict>
</plist>